
.navbar-section{
    margin-top: 10px;
    width: 100%;
    background-color:#282930;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: white;
    border-radius: 1rem;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
    

   
}
.navbar-section-light{
    margin-top: 10px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: white;
    border-radius: 1rem;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
    

   
}

.navbar{
      
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    
}
.active{
 border-bottom: 2px solid orangered;
}
.contect-button{
     border: none;
     width: 120px;
     border-radius: 50px;
      height: 30px;
    background: linear-gradient(267deg,#da7c25 0.36%,#b923e1 102.06%);
    color: white;
    cursor: pointer;
    transition: 0.5s;
   
}
.contect-button:hover{
    transform: scale(1.05);
}
.button-icon{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.full-screen-icon{
        font-size: 22px;
        cursor: pointer;
      }
.bar-mode{
    display: none;
}
.canvas-icon{
    display: flex;
      flex-direction: row;
    
}
.navbar-mobile{
  display: none;
}
.navbar-mobile-light{
   display: none;
}
.navbar-change{
  display: none;
}
.navbar-change-light{
  display: none;
}
.canvas-icon{
  display: flex;
  flex-direction: row;
}
.icon{
   background: linear-gradient(267deg,#bd0ded 0.36%, rgb(211, 17, 49) 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    align-items: center;
}

@media (max-width:1000px) {
 
    .mobile-screen-icon{
        font-size: 1.5rem;
    }
   
      .navbar-section{
         position: fixed;
    top: 2;
    z-index: 2;
    left: 0;
    right: 0;
     border-radius:15px ;
         
        width: 90%;
        margin: auto;
        padding:10px;
           display: flex;
           flex-direction: row;
            justify-content: space-between;
            align-items: center;
           
      }
      .navbar-section-light{
        padding: 10px;
    margin-top: 10px;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: white;
    border-radius: 1rem;
    position: fixed;
    top: 0;
    z-index: 2;
    left: 0;
    right: 0;
    

   
}
      .contect-button{
        display: none;
      }
      .navbar{
        display: none;
      }
      .navbar-mobile{
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0;
        gap: 30px;
       
        
        width: 380px;
        height: 100%;
        z-index: 2;
         transition: right 0.5s; 
        right: -380px;
      }
      .navbar-mobile-light{
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0;
        gap: 30px;
        
        width: 380px;
        height: 100%;
        z-index: 2;
         transition: right 0.5s; 
        right: -380px;
      }
      .navbar-change{
        display: block;
         position: fixed;
         display: flex;
         padding: 1rem;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background:transparent;
        backdrop-filter: blur(15px);
        width: 400px;
        height: 100%;
        z-index: 2;
         transition: right 0.5s; 
        right: -170px;
      }
      .navbar-change-light{
        display: block;
        position: fixed;
         display: flex;
         padding: 1rem;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
         background:transparent;
        backdrop-filter: blur(15px);
        width: 400px;
        height: 100%;
        z-index: 2;
         transition: right 0.5s; 
        right: -200px;
        
      }
      .bar-mode{
        display: flex;
          gap: 20px;
          align-items: center;
      }
      .full-screen-icon{
          display: none;
      }
      .bar{
        font-size: 25px;
      }
     .close-icon{
      
      margin-left: 195px;
           font-size: 22px;
     }
    }
