*{
    margin: 0;
    padding: 0;
}

#root{
    width: 100%;
   
}
 .body{
  padding: 1rem;
    background-color: black;
    
 }
.container{
     width: 90%;
     margin: auto;
   
}
@media (max-width:1000px) {
    .body{
        padding: 1rem;
    }
}