*{
    margin: 0;
    padding: 0;
}

#root{
    width: 100%;
   
}
.body{
    
    background-color: black;
   padding: 1rem;
  
}
.body-light{
    background-color: white;
   padding: 1rem;
   color: black;
}
 .container{
   
    width: 90%;
    margin: auto;
    
 }
 @media (max-width:1000px) {
      .container{
        margin-right: 20px;
      }
 }
 
